
    /* breadcrumb */
:root{
    --purple-color:#a52da5;     
    --green-color: #23783d;
    --blue-color: #0062cb;
    --yellow-color: #AAAA00;
    --amber-color: #b56a03;

    --why-color: var(--purple-color);
    --we-color: var(--blue-color);
    --tech-color: var(--green-color);
    --cursor-color: yellow;

    --line-height: 64px;
    --border-top: calc(var(--line-height) / 2);
}

body{
    background-color: #000;
    color:#e6c98abd;
    font-size: 1.2em;
}

.column {
    column-width: 400px;
    column-gap: 20px;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 1.5em;
  }
  .column {
    column-count: 1;
  }
  svg.logo{
    transform: scale(2);
  }
}

/* SEGMENTS */
.why {
    fill: var(--why-color);
}
.we {
    fill: var(--we-color);
}
.tech {
    fill: var(--tech-color);
}
.cursor {
    stroke: var(--cursor-color);
    fill: none;
    stroke-width: 7;
}
div.row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.justification {
    padding: 20px;
    font-size: 2em;
    grid-column: 2 / 4;
}
svg.logo {
    margin: 30px;
    grid-column: 1 / 2;
}
svg.logo g text {
    font-weight: bold;
}
svg.logo g text.title {
    font-size: 32px;
}
svg.logo g text.subhead {
    font-size: 16px;
}
div.card-body{
    padding: 30px 0;
}
ul.site-footer-items {
    list-style: none;
    width: 100%;
}
ul.site-footer-items li {
    float: left;
    padding: 20px;
}
div.poweredby {
    display: none;
    clear:both;
    width: 100%;
    font-size: 9px;
}
h4.section-title {
    display: block;
    background-color: var(--we-color);
    color: white;
    padding: 10px;
    border-radius: 5px;
}