
    /* breadcrumb */
:root{
    --purple-color:#a52da5;     
    --green-color: #23783d;
    --blue-color: #0062cb;
    --yellow-color: #AAAA00;
    --amber-color: #b56a03;

    --why-color: var(--purple-color);
    --we-color: var(--blue-color);
    --tech-color: var(--green-color);
    --cursor-color: yellow;

    --line-height: 64px;
    --border-top: calc(var(--line-height) / 2);
}

body{
    max-width: 1280px;
    margin: 0 auto;
    background-color: #000;
    color:#e6c98abd;
    font-size: 1.2em;
}
p {
    display: inline-flex;
}

.column {
    column-width: 400px;
    column-gap: 20px;
}


/* SEGMENTS */
.why {
    fill: var(--why-color);
}
.we {
    fill: var(--we-color);
}
.tech {
    fill: var(--tech-color);
}
.cursor {
    stroke: var(--cursor-color);
    fill: none;
    stroke-width: 7;
}
div.row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.justification {
    padding: 20px;
    font-size: 2em;
    grid-column: 3 / 4;
}
svg.logo {
    margin: 30px 10px;
    grid-column: 1 / 2;
}
svg.logo g text {
    font-weight: bold;
}
svg.logo g text.title {
    font-size: 32px;
}
svg.logo g text.subhead {
    font-size: 16px;
}
div.card-body{
    padding: 30px 0;
}
ul.site-footer-items {
    list-style: none;
    width: 100%;
}
ul.site-footer-items li {
    float: left;
    padding: 20px;
}
div.poweredby {
    display: none;
    clear:both;
    width: 100%;
    font-size: 9px;
}
h4.section-title {
    display: block;
    background-color: var(--we-color);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

@media (min-width:320px)  {
    /* smartphones, iPhone, portrait 480x320 phones */ 
    div.page-content {
        font-size: 2.3em;
    }
} 
@media (min-width:481px)  {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    div.page-content {
        font-size: 1.9em;
    }
}
@media (min-width:641px)  {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    div.page-content {
        font-size: 1.7em;
    }
    .column {
        column-count: 1;
    }
    .justification {
        font-size: 1.4em;
    }
}
@media (min-width:961px)  {
     /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    div.page-content {
        font-size: 1.9em;
    }
    .column {
        column-count: 1;
    }
    .justification {
        font-size: 1.4em;
    }
    svg.logo{
        transform: scale(1.4) translate(50px,10px);
    }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

