
    /* breadcrumb */
:root{
    --purple-color:#a52da5;     
    --green-color: #23783d;
    --blue-color: #0062cb;
    --yellow-color: #AAAA00;
    --amber-color: #b56a03;

    --why-color: var(--purple-color);
    --we-color: var(--blue-color);
    --tech-color: var(--green-color);
    --cursor-color: yellow;

    --line-height: 64px;
    --border-top: calc(var(--line-height) / 2);
}

body{
    background-color: #000;
    color:#e6c98abd;
}

/* SEGMENTS */
.why {
    fill: var(--why-color);
}
.we {
    fill: var(--we-color);
}
.tech {
    fill: var(--tech-color);
}
.cursor {
    stroke: var(--cursor-color);
    /* fill: var(--cursor-color); */
    stroke-width: 7;
}
.justification {
}
.row {
    display: grid;
}
svg {
    margin: 20px;
}
svg g text {
    font-weight: bold;
}
svg g text.title {
    font-size: 32px;
}
svg g text.subhead {
    font-size: 16px;
}