<!-- https://codepen.io/Kraisorn_R/pen/BwewVN -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" media="all"/>
<link rel="stylesheet" href="/css/logo.css" media="all"/>
<div class="container-fluid">
  <div class="row">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb-arrow segments">
            <li class="why">Why</li>
            <li class="we">We</li>
            <li class="tech">.Tech</li>
        </ol>
  </div>
</div>