<!-- https://codepen.io/Kraisorn_R/pen/BwewVN -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" media="all"/>
<link rel="stylesheet" href="/css/logo.css" media="all"/>

<svg width="500" height="50" >
    <g xmlns="http://www.w3.org/2000/svg" transform="translate(200 0)">
        <polygon class="tech" points="0,0 120,0 135,25 120,50 0,50" />
        <text x="70" y="35" text-anchor="middle" fill="white">.Tech</text>
    </g>
    <g xmlns="http://www.w3.org/2000/svg" transform="translate(100 0)">
        <polygon class="we" points="0,0 120,0 135,25 120,50 0,50" />
        <text x="70" y="35" text-anchor="middle" fill="white">We</text>
    </g>
    <g xmlns="http://www.w3.org/2000/svg" >
        <polygon class="why" points="0,0 120,0 135,25 120,50 0,50" />
        <text x="50" y="35" text-anchor="middle" fill="white">Why</text>
    </g>
</svg>